@media (width <=600px) {
  header {
    flex-direction: column;
    gap: 20px;

    ul {
      flex-wrap: wrap;
    }
  }

  footer {
    flex-direction: column;
    gap: 20px;

    div {
      flex-direction: column;
    }
  }
}

header {
  display: flex;
  gap: 45px;
  align-items: center;
  justify-content: center;
  padding: 16px;

  ul {
    display: flex;
    gap: 28px;
    padding: 0;
    font-weight: bold;
  }
}

nav ul {
  list-style-type: none;
  font-weight: medium;
  font-size: 18px;
}

nav a {
  text-decoration: none;
  color: black;
}

footer {
  padding: 16px;
  display: flex;
  gap: 45px;
  justify-content: center;
  align-items: center;
  background-color: #495E57;
  color: white;

  div {
    display: flex;
    gap: 40px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bolder;
  color: #F4CE14
}

h1 {
  font-size: 64px;
  font-weight: 600;
  margin: 0;
}

h2 {
  margin-top: 0;
  font-size: 40px;
  color: #F4CE14
}

.hero-section {
  background-color: #495E57;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 160px;

  .hero-content {
    max-width: 900px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
  }

  .hero-text {
    max-width: 300px;
  }

  img {
    border-radius: 16px;
    position: absolute;
    right: 0;
  }
}

p {
  font-size: 18px;
  font-weight: 600;
}

.button {
  background-color: #F4CE14;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  padding: 16px;
  padding-inline: 24px;
  display: inline-block;
}