@media (width <=600px) {
  header {
    flex-direction: column;
    gap: 20px;

    ul {
      flex-wrap: wrap;
    }
  }

  footer {
    flex-direction: column;
    gap: 20px;

    div {
      flex-direction: column;
    }
  }
}

header {
  display: flex;
  gap: 45px;
  align-items: center;
  justify-content: center;
  padding: 16px;

  ul {
    display: flex;
    gap: 28px;
    padding: 0;
    font-weight: bold;
  }
}

nav ul {
  list-style-type: none;
  font-weight: 500;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  padding: 16px;
  display: flex;
  gap: 45px;
  justify-content: center;
  align-items: center;
  background-color: #495E57;
  color: white;

  div {
    display: flex;
    gap: 40px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: white;
  }

  section {
    display: block;
  }

  li {
    padding-bottom: 16px;
  }
}

h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bolder;
  color: #F4CE14
}

h1 {
  font-size: 64px;
  font-weight: 600;
  margin: 0;
}

h2 {
  margin-top: 0;
  font-size: 40px;
}

section {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  >div {
    max-width: 900px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    margin-bottom: 24px;
    box-sizing: border-box;
  }
}

.hero-section {
  background-color: #495E57;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 160px;
  flex-direction: row;

  h2 {
    color: #F4CE14
  }

  .hero-text {
    max-width: 300px;
  }

  img {
    border-radius: 16px;
    position: absolute;
    right: 0;
  }

  p {
    font-size: 18px;
    font-weight: 600;
  }
}

img {
  object-fit: cover;
}



.button {
  background-color: #F4CE14;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  padding: 16px;
  padding-inline: 24px;
  display: inline-block;
  height: fit-content;
  border: none;
  cursor: pointer;
}


.specials {
  display: flex;
  justify-content: space-between;
}

.dish {
  width: 260px;
  background-color: #eee;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  flex-direction: column;

  figure {
    padding: 0;
    margin: 0;
  }

  img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  >div {
    padding: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  a {
    margin-top: auto;
    font-weight: bold;
    font-size: 16px;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  color: #EE9972;
  font-weight: 600;
  font-size: 16px;
}

.card-title {
  font-weight: bold;
  font-size: 18px;
  color: black;
}

p {
  font-size: 16px;
  font-weight: normal;
}

.rating {
  color: #EE9972;
  font-size: 24px;
}

.testimonials {
  background-color: #495E57;
  color: white;
  padding: 68px;
}

.testimonials>div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;

  article {
    background-color: #eee;
    color: black;
    border-radius: 16px;
    padding: 16px;
  }

  h2 {
    grid-column: 1 / -1;
    text-align: center;
  }
}

.chicago {
  background-color: white;
  color: black;

  h2 {
    color: black;
  }

  .restaurant-chef {
    right: 0;
    top: 0;
  }

  .restaurant {
    right: 170px;
    top: 100px;
  }
}

label {
  font-size: 18px;
  font-weight: 500;
}

input,
select {
  border-radius: 16px;
  color: #495E57;
  padding: 20px;
  border-color: rgba(51, 51, 51, 0.25);
  background-color: white;
}

form {
  width: 100%;
  display: grid;
  gap: 20px;
}

h1,
h2 {
  font-family: serif;
}

.without-image {
  margin-bottom: 24px;
}

.confirmation {
  >div {
    display: flex;
    align-items: baseline;
    gap: 16px
  }

  h3 {
    color: black;
  }
}